<h1>Claculate your Data</h1>
<form>
    <label class="control-label">Number 1 : </label>
    <input type="number" name="number1" class="form-control" />
    <label class="control-label">Number 2 : </label>
    <input type="number" name="number2" class="form-control" />
    <br /> 
    <input type="submit" value="Update" class="btn btn-primary" />
</form>

