@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="RadioTest" method="post">
    <input type="radio" name="Gender" value="Male" /> Male
    <input type="radio" name="Gender" value="Female" /> Female
    <input type="submit" value="Submit" class="btn btn-success" />
</form>

@if (!string.IsNullOrEmpty(@Model))
{
    @if (@Model == "Female")
    {
        <div class="card w-100 mt-3">
            <div class="card-body">
                <h5 class="card-title text-danger">@Model</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
    }
    @if (Model == "Male")
    {
        <div class="card w-100 mt-3">
            <div class="card-body">
                <h5 class="card-title text-dark">@Model</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
    }
}
